<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

<!--    <bean id="musicBean"-->
<!--          class="com.krawa.springapp.RockMusic">-->
<!--    </bean>-->

    <bean id="classicalMusic"
      class="com.krawa.springapp.ClassicalMusic"
      init-method="init"
      destroy-method="destroy"/>
    <bean id="rockMusic"
      class="com.krawa.springapp.RockMusic"
      init-method="init"
      destroy-method="destroy"/>
    <bean id="jazzMusic"
      class="com.krawa.springapp.JazzMusic"
      init-method="init"
      destroy-method="destroy"/>

    <bean id="musicPlayer"
        class="com.krawa.springapp.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="jazzMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>